div{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 20px solid yellow;
    border-top: 20px solid aqua;
    animation: spin 1s steps(5) 0s infinite normal;
}

@keyframes spin{
    from{
        transform: rotate(0deg);
    }
    to{transform: rotate(360deg);}
}