.navbar{
    background-color: rgb(100, 237, 168);
    display: flex;
    justify-content: space-evenly;

}
a{
    text-decoration: none;
}
li{
    list-style-type: none;
    display: inline;  
    justify-content: space-evenly;
}

.outer{
    height:400px;
    width:400px;
    background-color: aquamarine;
    display:flex;
    justify-content: center;
    align-items: center;
    
}

.inner{
    height:200px;
    width:200px;
    background-color: burlywood;
}